# Where should a drinks company run promotions?

## ðŸ“– Background
Your company owns a chain of stores across Russia that sell a variety of alcoholic drinks. The company recently ran a wine promotion in Saint Petersburg that was very successful. Due to the cost to the business, it isnâ€™t possible to run the promotion in all regions. The marketing team would like to target 10 other regions that have similar buying habits to Saint Petersburg where they would expect the promotion to be similarly successful.

### The data
The marketing team has sourced you with historical sales volumes per capita for several different drinks types.

- "year" - year (1998-2016)
- "region" - name of a federal subject of Russia. It could be oblast, republic, krai, autonomous okrug, federal city and a single autonomous oblast
- "wine" - sale of wine in litres by year per capita
- "beer" - sale of beer in litres by year per capita
- "vodka" - sale of vodka in litres by year per capita
- "champagne" - sale of champagne in litres by year per capita
- "brandy" - sale of brandy in litres by year per capita

## ðŸ’ª Competition Challenge

1. Recommend 10 additional regions they should select for the promotion.
2. Tell the story that supports your recommendations.

In [1]:
import pandas as pd
df = pd.read_csv(r'./data/russian_alcohol_consumption.csv')
df.head(10)

   year                     region  wine  beer  vodka  champagne  brandy
0  1998         Republic of Adygea   1.9   8.8    3.4        0.3     0.1
1  1998                 Altai Krai   3.3  19.2   11.3        1.1     0.1
2  1998                Amur Oblast   2.1  21.2   17.3        0.7     0.4
3  1998         Arkhangelsk Oblast   4.3  10.6   11.7        0.4     0.3
4  1998           Astrakhan Oblast   2.9  18.0    9.5        0.8     0.2
5  1998  Republic of Bashkortostan   1.8  17.5   10.7        0.9     0.2
6  1998            Belgorod Oblast   3.4  23.0   10.8        0.9     0.1
7  1998             Bryansk Oblast   3.4  32.4    9.7        0.5     0.1
8  1998       Republic of Buryatia   1.1   8.8   15.8        0.9     0.1
9  1998            Vladimir Oblast   1.5  16.6   16.8        0.5     0.1